name: DevOps pipeline seguranca
on: 
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Build Docker image
        run:
          docker build -t ${{ secrets.DOCKERHUB_REGISTRY }}:${{ github.event.pull_request.head.ref }} -f docker/Dockerfile .

      - name: Start Docker Compose
        run: docker run --name react-lab -d -p 80:3000 ${{ secrets.DOCKERHUB_REGISTRY }}:${{ github.event.pull_request.head.ref }}

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.7.0
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          docker_name: 'owasp/zap2docker-stable'
          target: 'http://localhost'
          cmd_options: '-a'

      - name: Stop Docker Compose
        run: docker stop react-lab

      - name: Send message to Telegram
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Repository: ${{ github.repository }}

            ${{ github.actor }} ${{ github.event.action }} pull request:

            Pull Request Message: 
              ${{ github.event.pull_request.title }}
              ${{ github.event.pull_request.body }}

            Pull Request Link: ${{ github.event.pull_request.html_url }}
            
            See changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}